.hamburgerMenu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: white;
  transition: 0.3s;
}

.open {
  transform: rotate(-45deg) translateY(-3px);
  background-color: white; /* Change color when open */
  border-radius: 100px;
}

.open:nth-child(2) {
  opacity: 1;
  transform: rotate(0deg) translateX(15px);
  width: 150%;
}

.open:nth-child(3) {
  transform: rotate(45deg) translateY(3px);
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.menuOverlay.show {
  opacity: 1;
}

.menuItems {
  list-style: none;
  padding: 0;
}

.menuItems li {
  margin: 10px 0;
}

.sidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  z-index: 999;
  
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  height: 100%;
  background-color: #2d2d2d;
  color: white;
  position: absolute;
  top: 0;
  left: -250px;
  padding: 20px;
  transition: left 300ms ease-in-out;
}

.sidebarContainer:hover .sidebar {
  left: 0;
}

@media (min-width: 769px) {
  .hamburgerMenu {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebarContainer {
    display: none;
  }

  .menuItems {
    text-align: center;
  }

  .menuItems li {
    margin: 15px 0;
  }

  .menuItems p {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  .menuItems p:hover {
    text-decoration: underline;
  }
}
