/* styles/FaveArtist.module.css */
.FaveAlbum {
  cursor: pointer;
  
}.popup {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none; /* Ensure the hidden element doesn't capture mouse events */
}

.popupOpen {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* Allow interactions when the element is visible */
}

.albumImage {
  transition: transform 0.3s ease;
}

.albumImage:hover {
  transform: scale(1.1);
}
/* FaveAlbum.module.css */

.albumImage {
  transition: opacity 0.5s ease-in-out;
}

.modal-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

